exportaciones/general.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">

  <xs:element name="federacionBalonmano">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="temporadas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="temporada" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="equipos">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="equipo" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nombre" type="xs:string"/>
                                <xs:element name="ganados" type="xs:nonNegativeInteger"/>
                                <xs:element name="perdidos" type="xs:nonNegativeInteger"/>
                                <xs:element name="empatados" type="xs:nonNegativeInteger"/>
                                <xs:element name="golesFavor" type="xs:nonNegativeInteger"/>
                                <xs:element name="golesContra" type="xs:nonNegativeInteger"/>
                                <xs:element name="jugadores">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="jugador" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="nombre" type="xs:string"/>
                                            <xs:element name="nacionalidad" type="xs:string" minOccurs="0"/>
                                            <xs:element name="altura" type="xs:string" minOccurs="0"/>
                                            <xs:element name="peso" type="xs:string" minOccurs="0"/>
                                            <xs:element name="dorsal" type="xs:nonNegativeInteger" minOccurs="0"/>
                                            <xs:element name="posicion" type="xs:string" minOccurs="0"/>
                                            <xs:element name="foto" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="url" type="xs:anyURI" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:string" use="required"/>
                                          <xs:attribute name="equipo" type="xs:string" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="escudo" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="url" type="xs:anyURI" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="jornadas" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="jornada" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="partidos">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="partido" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="golesLocal" type="xs:nonNegativeInteger"/>
                                            <xs:element name="golesVisitante" type="xs:nonNegativeInteger"/>
                                            <xs:element name="estado" type="xs:string"/>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:string" use="required"/>
                                          <xs:attribute name="local" type="xs:string" use="required"/>
                                          <xs:attribute name="visitante" type="xs:string" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>